<h1>Stupid Coaching</h1>
<div class="talk">
  <p><%= @question %></p>
  <p><em>- You</em></p>
</div>

<div class="talk yellow-background">
  <p><strong><%= @answer %></strong></p>
  <p><em>- Your coach</em></p>
</div>

<%= link_to "Ask a new question", ask_path %>
